@charset "UTF-8";

/* отчистим все отступы и границы */
* {
   padding: 0;
   margin: 0;
   border: 0;
}

/* меняет подсчет блока так чтобы нам было удобно верстать  */
*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров. */
:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

/* перечисляем html5 и добавляем им значение блок, что делает их блочными  */
nav,
footer,
header,
aside {
   display: block;
}

/* Уравниваем поведение шрифтов в разных браузеров123  */
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-family: 'Exo';
}

input,
button,
textarea {
   font-family: inherit;
}

/*
Задаёт стиль кнопки для очистки текстового поля. Исходно эта кнопка не видна,
она появляется в правой части поля только при вводе текста.
Только IE */
input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

/*Задаёт стиль внутренней части элемента
Только FireFox*/
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/* ............................................................ */



//hidden = Отображается только область внутри элемента, остальное будет скрыто.
.weapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

// ограничивающий контейнер. Техничиский класс, не является БЭМ блоком.  
._container {
   max-width: 1159px;
   padding: 5px 15px;
   margin: 0px auto;
   box-sizing: content-box;
   position: relative;
}


._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}


//fonts----------------------
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
//@fonts----------------------

.main-block {
   flex: 1 1 auto;
   position: relative;

   &_container {}

   &__body {
      position: relative;
      z-index: 2;

   }


   &__title {
      margin: 225px 0px 0px 0px;
      font-size: 60px;
      line-height: 125%;
      font-weight: 100;
      letter-spacing: 0.04em;
      color: #282828;
      text-align: center;
      padding: 0px 30px;

   }

   &__button {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
      justify-content: center;

      &_orange {
         border-radius: 3px;
         display: flex;
         min-height: 50px;
         padding: 15px 50px;
         justify-content: center;
         align-items: center;
         letter-spacing: 0.2px;
         font-weight: 700;
         text-align: center;
         text-transform: uppercase;
         line-height: 150%;
         transition: all 0.3s ease 0s;
         background: #ff6d6d;
         color: #fff;


      }

      &_orange:hover {
         background: #ffffff;
         padding: 30px;
         color: rgb(194, 71, 71);
      }
   }

   &__text {
      font-size: 14px;
      line-height: 535%;
      font-weight: 400;
      letter-spacing: 0.04em;
      color: #282828;
      text-align: center;

   }

   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}

//--------------------------------------

.new-design {

   margin-bottom: 500px;

   &_container {}

   &__body {}

   &__smalltext {

      margin: 138px 0px 0px 0px;
      font-size: 16px;
      line-height: 50px;
      font-weight: 500;
      letter-spacing: 0.2em;
      color: #ff6d6d;
   }

   &__title {
      font-size: 40px;
      line-height: 50px;
      font-weight: 500;
      letter-spacing: 0.04em;
      color: #282828;
      text-align: left;



   }

   &__dot {
      color: #ff6d6d;
   }

   &__text {
      opacity: 0.65;
      font-family: Exo;
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
      letter-spacing: 0.04em;
      color: #282828;
      margin: 30px 535px 0px 0px;


   }


}

//---PC_PAD_PHONE-------------------------------
//pc
@media screen and (max-width: 992px) {
   .new-design__smalltext {
      text-align: center;
   }

   .new-design__title {

      color: #0dbeaf;
      text-align: center;
      font-size: 35px;
   }

   .new-design__text {
      text-align: left;
      font-size: 16px;
      width: 100%;
      margin: 20px 5px;

   }













}

//pad
@media screen and (max-width: 767px) {
   .new-design__smalltext {
      width: 100%;
      text-align: center;

   }

   .new-design__title {

      color: #5a0dbe;
      width: 100%;
      font-size: 30px;
      text-align: center;
   }

   .new-design__text {
      text-align: left;
      font-size: 16px;
      width: 100%;
      margin: 0px 0px -40px 0px;

   }

   .new-features__row {
      flex-direction: column;
   }























}

//phone
@media screen and (max-width: 479px) {
   .new-design__smalltext {
      width: 100%;

   }

   .new-design__title {
      margin: 0px 120px 15px 0px;
      font-size: 25px;
      color: #71be0d;
      width: 100%;
   }

   .new-design__text {
      font-size: 16px;
      width: 100%;
      margin: 0px 0px -100px 0px;
   }

   .new-features__row {
      flex-direction: column;
   }

   .new-features {
      margin: -250px 0px 0px 0px;
   }
}


//---------------------------------

.new-features {


   position: relative;



   &_container {}

   &__body {
      position: relative;
      z-index: 2;
   }

   &__smalltext {
      font-size: 16px;
      line-height: 306%;
      font-weight: 500;
      letter-spacing: 0.2em;
      color: #ff6d6d;
      text-align: center;
      margin: 135px 0px 0px 0px;
   }

   &__title {
      margin: 13px 0px 0px 0px;
      font-size: 40px;
      line-height: 122%;
      font-weight: 500;
      letter-spacing: 0.04em;
      color: #282828;
      text-align: center;
   }

   &__row {

      margin: 90px 0px 184px 0px;
      display: flex;
   }

   &__column {

      padding: 0px 20px;
      flex: 0 0 33.333%;
   }

   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }


}



.item-about {



   &__icon {

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 29px 0px 0px 0px;
   }

   &__title {

      font-size: 22px;
      line-height: 49px;
      font-weight: 500;
      letter-spacing: 0.04em;
      color: #282828;
      margin: 19px 0px 0px 0px;
      text-align: center;
   }

   &__text {

      opacity: 0.65;
      text-align: center;
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
      letter-spacing: 0.04em;
      color: #282828;
      margin: 0px 0px 3px 0px;
   }
}